<div ng-app="bookmarksApp" ng-controller="bookmarksController">
	<div class="input-group">
		<input type="text" class="form-control search" placeholder="Search" ng-model="searchTerm">
		<div class="input-group-btn">
			<span class="btn btn-default">
				<i class="glyphicon glyphicon-search"></i>
			</span>
		</div>
	</div>
	<ul class="list-unstyled" id="bookmarksListing">
		<li class="padded-top" ng-repeat="bookmark in bookmarks| filter: filter" data-after-render-bookmark-list>
			<a data-render-bookmark ng-click="openLinkInNewTab(bookmark.url)" href="{{ bookmark.url}}">
				<span class="emphasisable">{{ bookmark.title}}</span>
			</a>
			<span class="pull-right">
				<i class="fa fa-fw fa-bookmark"></i>
			</span>
			<br /><span class="emphasisable">{{ bookmark.url}}</span>
		</li>
	</ul>
</div>