<!doctype html>
<html>
	<head>
		<title>My View</title>
		<link rel="stylesheet" type="text/css" href="libs/font-awesome/css/font-awesome.css" />
		<script src="libs/jquery/dist/jquery.js" type="text/javascript"></script>
		
		<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css" type="text/css" />
		<script src="libs/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
	</head>
	<body>
		<div ng-csp="" ng-app="bookmarksApp" ng-controller="bookmarksController">
			<p>
				<i class="fa fa-fw fa-search"></i>
				 <input type="text" ng-model="searchTerm">
			</p>
			<table class="table">
				<thead>
					<tr>
						<th>URL</th>
						<th>Title</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="bookmark in bookmarks | filter:searchTerm">
						<td>{{ bookmark.url}}</td>
						<td>{{ bookmark.title}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<script src="libs/angular/angular.js" type="text/javascript"></script>
		<script src="main.js" type="text/javascript"></script>
	</body>
</html>
